/*Button for the facebook, spotify, linkedin, instagram*/

/* Code copied from: https://www.geekboots.com/css/social-icon-with-tooltips
Author: Geekboots
Name: Create Social media icon 
Description: Social Icon with Tooltips.
Date retrieved: Oct. 6, 2022 */

/* Copied code starts */
* {
    margin: 5px;
    font-family: "Lato", sans-serif;
}

:root {
    --facebook: #3a5796;
    --spotify: #1DB954;
    --linkedin: #0371ae;
    --instagram: #d12c7a;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

nav {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s all ease-in-out;
}

a svg {
    width: 50px;
    height: 50px;
}

a svg path,
a svg circle {
    transition: 0.3s all ease-in-out;
}

a span {
    position: absolute;
    color: #fff;
    transform: translateY(0px);
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0s;
}

a span::before {
    position: absolute;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

a.facebook span {
    background-color: var(--facebook);
}

a.facebook span::before {
    border-top-color: var(--facebook);
}

a.spotify span {
    background-color: var(--twitter);
}

a.spotify span::before {
    border-top-color: var(--spotify);
}

a.linkedin span {
    background-color: var(--linkedin);
}

a.linkedin span::before {
    border-top-color: var(--linkedin);
}

a.instagram span {
    background-color: var(--instagram);
}

a.instagram span::before {
    border-top-color: var(--instagram);
}

a.active,
a:hover {
    box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.5);
}

a.facebook:hover {
    background-color: var(--facebook);
}

a.spotify:hover {
    background-color: var(--spotify);
}

a.linkedin:hover {
    background-color: var(--linkedin);
}

a.instagram.active,
a.instagram:hover {
    background-color: var(--instagram);
}

a.active span,
a:hover span {
    transform: translateY(-80px);
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

a.active svg path,
a.active svg circle,
a:hover svg path,
a:hover svg circle {
    fill: #fff;
}

/* Copied code ends */


/* Code copied from: https://www.youtube.com/watch?v=zgOyj0ucIb0&t=5s
Author: Code Cary
Name: Button Ripple Effect on Click Using CSS & Javascript
Description: Button for the contact me
Date retrieved: Jun 3, 2021 */
/* Copied code starts */

.button1 {
    position: relative;
    background-color: #86BBD8;
    border: none;
    font-size: 20px;
    padding: 20px;
    width: 150px;
    height: 60px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
/* Copied code ends */


/* Button for the resume*/
/* Code copied from: https://www.w3schools.com/tags/tag_button.asp 
Author: w3school
Name: Button
Description: Button with hover effect. 
Date retrieved: October 18, 2023*/
/* Copied code starts */
.button2 {
    width: 150px;
    height: 60px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 7px;
    position: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 10px;
}

.button2{
    background-color: #2F4858;
    color: #C1E0FF;
    border: 3px solid #C1E0FF;
  }
  
.button2:hover{
    background-color: #C1E0FF;
    color: white;
  }
/* Copied code end */


/* Button for the start page*/
/* Code copied from: https://www.w3schools.com/tags/tag_button.asp 
Author: w3school
Name: Button
Description: Button with hover effect. 
Date retrieved: October 18, 2023 */
/* Copied code starts */
 .button3 {
    width: 150px;
    height: 60px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 7px;
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button3 {
    background-color: rgba(40, 201, 94, 0.3);
    color: white; 
    border: 2px solid #20B051;
  }
  
  .button3:hover {
    background-color: #20B051;
    color: white;
  }
/* Copied code end */

/* Button for the home page - learn more*/
/* Code copied from: https://alvarotrigo.com/blog/best-css-button-hover-effects/ 
Author: Warren Davies
Name: 10 Best CSS button hover effects
Description: Displays an hover effect button.
Date retrieved: October 18, 2023 */
/* Copied code starts */

.glow-on-hover {
    width: 150px;
    height: 60px;
    border: none;
    outline: none;
    color: #fff;
    background: #198BFC;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #198BFC
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #198BFC;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* Copied code end */

/* Display the text or photos in the center */
.center {
    display: flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 130%;
    left: 40%;
  }
