/* The page layout */
#root {
    position: relative;
}

html, body, #root {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-basis: 100%;
    width: 100%;
}

p {
    padding-bottom: 20px;
    text-align: center;
    padding: 20px 20px;
    color: #fce2ca;
    font-size: 40px;
    position: absolute;
    width: 946px;
}

h1 {
  text-align:center;
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 40px;
  text-align:left;
  color: white;
}

h3 {
    font-size: 25px;
    text-align:center;
    color: white;
  }

h4{
    font-size: 20px;
    text-align: center;
    color:white;
}

h5{
    font-size: 40px;
    text-align: center;
    color:white;
}

h6 {
    font-size: 20px;
    text-align:left;
    color: white;
  }

h7 {
    font-size: 40px;
    text-align: right;
    color:white;
}

h8 {
      font-size: 20px;
      text-align:right;
      color: white;
}

h9{
  font-size: 40px;
  text-align: center;
  color:black;
}

h10{
  font-size: 25px;
  text-align: left;
  color:white;
}

h11{
  font-size: 150px;
  text-align: left;
  color:white;
}

h12{
  font-size: 30px;
  text-align: left;
  color:white;
}

div{
  text-align: center;
}

.div1 {
    float: left;
}

.div2 {
    float:right;
}