 /* Nevigation bar 
 https://www.youtube.com/watch?v=cH0TC9gWiAg&t=90s*/
        *, *::before,*::after {
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background-color: #2F4858;
        }

        .btn {
            background-color: var(--background-color);
            border-radius: 30px;
            width: 150px;
            height: 60px;
            font-size: 20px;
            text-align: center;
            font-weight: 400;
            margin: 5px;
            position: relative;
            cursor: pointer;

            font-family: "Lato", sans-serif;

            --background-color: #198BFC;
        }

        .btn.btn-background-circle {
            z-index: 1;
            overflow: hidden;
            background-color: #86BBD8;
            color: #FFF;
        }

        .btn.btn-background-circle::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: var(--background-color);
            border-radius: 50%;
            transition: transform 500ms ease-in-out;

            transform: scale(1.5);
        }

        .btn.btn-background-circle:hover::before,
        .btn.btn-background-circle:focus::before {
            transform: scale(0);
        }

  /*Image for the home page*/
    img.rounded-corners {
        border-radius: 40px 40px 0px 0px;
    }

    .content {
        display: flex;
    }

    .content img {
        margin-right: 10px;
        display: block;
    }

    .content h3,
    .content p {
        margin: 0;
    }

    .text-container {
        margin-left: 20px;
      }
    
    
      .center {
        display: flex;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 150%;
        left: 30%;
      }
  

  hr {
    height: 5px;
    background: #BDBDBD;
    border: none;
  }

  .marq { 
    color: white;
} 

/*Image fade in*/
    .fade-in-image { 
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }