 /* Nevigation bar */
 /* Code copied from: https://www.geekboots.com/css/social-icon-with-tooltips
Author: Geekboots
Name: Create Social media icon 
Description: Social Icon with Tooltips.
Date retrieved: Oct. 6, 2022 */

 /* Copied code starts */

 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 body {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     background-color: #2F4858;
 }

 .btn {
     background-color: var(--background-color);
     border-radius: 30px;
     width: 150px;
     height: 60px;
     font-size: 20px;
     text-align: center;
     font-weight: 400;
     margin: 5px;
     position: relative;
     cursor: pointer;

     font-family: "Lato", sans-serif;

     --background-color: #198BFC;
 }

 .flex-parent {
     display: flex;
 }

 .jc-center {
     justify-content: center;
 }

 button.margin-right {
     margin-right: 20px;
 }

 .btn.btn-background-circle {
     z-index: 1;
     overflow: hidden;
     background-color: #86BBD8;
     color: #FFF;
 }

 .btn.btn-background-circle::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: -1;
     background-color: var(--background-color);
     border-radius: 50%;
     transition: transform 500ms ease-in-out;

     transform: scale(1.5);
 }

 .btn.btn-background-circle:hover::before,
 .btn.btn-background-circle:focus::before {
     transform: scale(0);
 }

 /* Copied code ends */

 /*Image for the home page*/
 img.rounded-corners {
     border-radius: 40px 40px 0px 0px;
 }

 .content {
     display: flex;
 }

 .content img {
     margin-right: 10px;
     display: block;
 }

 .content h3,
 .content p {
     margin: 0;
 }

 .text-container {
     margin-left: 20px;
 }


 .center {
     display: flex;
     justify-content: center;
     margin: 0;
     position: absolute;
     top: 150%;
     left: 30%;
 }


 hr {
     height: 3px;
     background: #BDBDBD;
     border: none;
 }

 .marq {
     color: white;
 }


/* Code copied from: https://blog.hubspot.com/website/css-fade-in
Author: Jamie Juviler
Name: How to Add a CSS Fade-in Transition Animation to Text, Images, Scroll & Hover. 
Description: Fade-in Image Transition Using CSS. 
Date retrieved: May 09, 2023 */

/* Copied code starts */
 .fade-in-image {
     animation: fadeInAnimation ease 3s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
 }

 @keyframes fadeInAnimation {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

/* Copied code ends */
